<nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm">
  <div class="container">
    <a [routerLink]="'/home'" class="navbar-brand">Jobs</a>

    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active-link']" class="nav-item">
          <a (click)="isMenuCollapsed = true" [routerLink]="'/home'" class="nav-link">Home</a>
        </li>
        <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active-link']" class="nav-item">
          <a (click)="isMenuCollapsed = true" [routerLink]="'/jobs'" class="nav-link">Jobs</a>
        </li>
        <li *ngIf="this.currentUser?.role === 'user'"
            [routerLinkActiveOptions]="{exact:true}"
            [routerLinkActive]="['active-link']" class="nav-item">
          <a (click)="isMenuCollapsed = true" [routerLink]="'/applications'" class="nav-link">Applications</a>
        </li>
        <li *ngIf="this.currentUser?.role === 'organization'"
            [routerLinkActiveOptions]="{exact:true}"
            [routerLinkActive]="['active-link']" class="nav-item">
          <a (click)="isMenuCollapsed = true" [routerLink]="'/posted'" class="nav-link">Posted jobs</a>
        </li>
        <li *ngIf="this.currentUser?.role === 'organization'"
            [routerLinkActiveOptions]="{exact:true}"
            [routerLinkActive]="['active-link']" class="nav-item">
          <a (click)="isMenuCollapsed = true" [routerLink]="'/jobs/post'" class="nav-link">Post job</a>
        </li>
        <li *ngIf="this.currentUser" class="nav-item">
          <div class="d-inline-block float_right" display="dynamic"
               ngbDropdown
               placement="bottom-right">
            <a class="nav-link" id="navbarDropdown1" ngbDropdownToggle role="button" tabindex="0">
              Account
            </a>
            <div aria-labelledby="navbarDropdown1" class="dropdown-menu" ngbDropdownMenu>
              <a class="text-danger" ngbDropdownItem>Hi, {{displayName}}</a>
              <a (click)="isMenuCollapsed = true" ngbDropdownItem>Account info</a>
              <a (click)="onLogout(); isMenuCollapsed = true" ngbDropdownItem>Sign out</a>
            </div>
          </div>
        </li>
        <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active-link']" class="nav-item">
          <a (click)="isMenuCollapsed = true"
             *ngIf="!this.currentUser"
             [routerLink]="'./auth/login'" class="nav-link">
            Sign in</a>
        </li>
        <li *ngIf="!this.currentUser"
            [routerLinkActiveOptions]="{exact:true}"
            [routerLinkActive]="['active-link']" class="nav-item">
          <a (click)="isMenuCollapsed = true" [routerLink]="'./auth/register'" class="nav-link">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
