<div [formGroup]="formGroup">
  <div class="row justify-content-end">
    <h3 class="col-xl-9 col-lg-9 col-md-8 col-12 my-4 h1">Jobs</h3>
  </div>
  <div class="row justify-content-end">
    <div class="btn-group col-xl-9 col-lg-9 col-md-8 col-12" data-toggle="buttons">
      <input (change)="onChangeFilter()" [value]=0 autocomplete="off" class="btn-check" formControlName="typeId"
             id="option1"
             type="radio">
      <label class="btn btn-outline-secondary shadow-none" for="option1">All</label>

      <input (change)="onChangeFilter()" [value]=1 autocomplete="off" class="btn-check" formControlName="typeId"
             id="option2"
             type="radio">
      <label class="btn btn-outline-secondary shadow-none" for="option2">Full-time</label>

      <input (change)="onChangeFilter()" [value]=2 autocomplete="off" class="btn-check shadow-none"
             formControlName="typeId"
             id="option3" type="radio">
      <label class="btn btn-outline-secondary shadow-none" for="option3">Part-time</label>

      <input (change)="onChangeFilter()" [value]=3 autocomplete="off" class="btn-check" formControlName="typeId"
             id="option4"
             type="radio">
      <label class="btn btn-outline-secondary shadow-none" for="option4">Remote</label>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-3">
      <div class="bg-light border p-4 shadow-sm">
        <h3 class="mb-4">Categories</h3>
        <div class="list-group">
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=0 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault0"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault0">
              All
            </label>
          </div>
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=1 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault1"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault1">
              Design & development
            </label>
          </div>
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=2 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault2"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault2">
              Office administrative
            </label>
          </div>
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=3 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault3"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault3">
              Science & technology
            </label>
          </div>
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=4 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault4"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault4">
              Property development
            </label>
          </div>
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=5 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault5"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault5">
              Business development
            </label>
          </div>
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=6 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault6"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault6">
              Admin & accountant
            </label>
          </div>
          <div class="form-check mt-1">
            <input (change)="onChangeFilter()" [value]=7 class="form-check-input" formControlName="categoryId"
                   id="flexRadioDefault7"
                   type="radio">
            <label class="form-check-label" for="flexRadioDefault7">
              Industry manufacturing
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-9 col-lg-9 col-md-8 col-12">
      <ng-container *ngIf="jobs?.length">
        <div (click)="onJobClick(job.id)" *ngFor="let job of jobs" class="card shadow-sm mb-3 col-12 border-0">
          <div
            [ngClass]="{'bg-danger': job.jobTypeId===1, 'bg-warning text-dark': job.jobTypeId===2 , 'bg-primary': job.jobTypeId===3}"
            class="card-header text-light">{{ job.jobType.name }}</div>
          <div class="card-body text-dark">
            <h3 class="card-title">{{ job.title }}</h3>
            <h6 class="card-title ">{{ job.user?.organizationName }}</h6>
            <p class="card-text ">{{ job.description }}</p>

            <div class="d-flex flex-row justify-content-end">
              <div *ngIf="currentUser?.id !== job?.userId && job?.applied === true"
                   [ngClass]="{'text-success': job?.accepted == true,'text-danger': job?.accepted == false, 'text-muted': job?.accepted == null}"
                   class="me-auto my-auto">
                {{job?.accepted === true ? 'Accepted' : job?.accepted === false ? 'Rejected' : "Awaiting response"}}
              </div>
              <div *ngIf="currentUser?.id === job.userId"
                   class="me-auto my-auto text-center text-muted">
                Candidates: {{job?.applications?.length !== null ? job?.applications?.length : 0}}
              </div>
              <div class="btn-group" style="flex-wrap: wrap;">
                <button (click)="$event.stopPropagation(); onJobEdit(job.id)"
                        *ngIf="currentUser?.id === job.userId"
                        class="btn btn-warning col-auto me-2 shadow-none">
                  Edit
                </button>
                <button (click)="$event.stopPropagation(); onJobDelete(job.id)"
                        *ngIf="currentUser?.id === job.userId"
                        class="btn btn-danger col-auto me-2 shadow-none">
                  Delete
                </button>
                <button (click)="$event.stopPropagation(); onJobApply(job.id)"
                        *ngIf="currentUser?.id !== job.userId"
                        [ngClass]="(job?.applied === true) ? 'btn-success' : 'btn-outline-success'"
                        class="btn col-auto me-2 shadow-none">
                  {{(job?.applied === true) ? 'Applied' : 'Apply'}}
                </button>
                <button (click)="$event.stopPropagation(); onJobLike(job.id)"
                        [ngClass]="[currentUser?.id === job.userId ? 'disabled' : '', (job?.likedByMe === true) ? 'btn-primary': 'btn-outline-primary']"
                        class="btn col-auto shadow-none">
                  Likes {{job?.likes !== null ? job.likes.length : 0}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
